{% extends 'pages/base.html' %}
{% block title %}article{% endblock %}
{% block content %}
    <h1>Article Page</h1>
    <ul>
        {% for post in object_list %}
            <li>{{ post }}</li>
        {% endfor %}
    </ul>

{% endblock %}