<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Yury Chuksin</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
        <a class="p-2 text-dark" href="{% url 'article' %}">Articles</a>
        <a class="p-2 text-dark" href="{% url 'about' %}">About</a>
      </nav>
      <a class="btn btn-outline-primary" href="{% url 'create' %}">Create post</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>