{% extends 'pages/base.html' %}
{% block title %}
    create post
{% endblock %}
{% block content %}
    <h1>Create Page</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.text }}<br>
        <button type="submit" class="btn btn-success">Add post</button>
        <span>{{ error }}</span>
    </form>

{% endblock %}