{% extends 'pages/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>My Home Page</h1>
    {% if posts %}
        {% for x in posts %}
            <div class="alert alert-success mt-2">
                <h3>{{ x.title }}</h3>
                <p>{{ x.text }}</p>
            </div>
        {% endfor %}
        {% else %}
        <p>nothing to show</p>
    {% endif %}
{% endblock %}